<% provide(:title, 'Blog Posts') %>
<% provide(:heading, 'Blog Posts') %>
<% provide(:subheading, 'Blog Posts on Clean Blog') %>
<% provide(:bg, 'post-bg.jpg') %>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<%= link_to 'Add Post', new_blog_post_path %>
			<hr>
			<% @blog_posts.reverse_each do |blog_post| %>

				<% if blog_post.user_id == session[:user_id] %>
		            <div class="post-preview">
	                	<%= blog_post.link_to_show %>
		                <p class="post-meta">Posted by <%= blog_post.link_to_user %> on <%= blog_post.created_at %> &nbsp; 
		                	<% if logged_in? %>
		                	<%= blog_post.link_to_edit %> - <%= blog_post.link_to_delete %> </p>
	              			<% end %>
		            </div>
	            	<hr>
		        <% end %>
			<% end %>
		</div>
	</div>
</div>