<% provide(:title, 'Blog Post') %>
<% provide(:bg, @blog_post.title_image_url) %>
<% provide(:post_title, @blog_post.title) %>
<% provide(:post_summary, @blog_post.summary) %>
<% provide(:poster, @blog_post.user_name) %>
<% provide(:date_created, @blog_post.created_at) %>


<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% if logged_in? && (@blog_post.user_id == session[:user_id]) %>
                    <ul class="pager">
                        <li class="previous">
                            <%= @blog_post.link_to_edit %>
                        </li>
                        <li class="previous">
                            <%= @blog_post.link_to_delete %>
                        </li>
                    </ul>
                    </br>
                <% end %>
                <%= @blog_post.content %>
                <ul class="pager">
                    <% @blog_post.tag.each do |tag| %>
                        <li class="previous">
                            <a href="<%=recent_blog_path(q: tag)%>"><%= tag %></a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</article>