<% provide(:title, 'User List') %>
<% provide(:heading, 'User List') %>
<% provide(:subheading, 'List of User on Clean Blog') %>
<% provide(:bg, 'about-bg.jpg') %>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<%= link_to 'Add User', new_user_path if is_admin? %>
			<table class="table">
				<tr>
					<th class="table_header">Name</th>
					<th class="table_header">Email</th>
					<th class="table_header">Control</th>
				</tr>
				
				<% @users.each do |user| %>
					<tr>
						<td><%= user.name %></td>
						<td><%= user.email %></td>
						<td>
							<%= user.link_to_show %>
							<% if is_admin? %>
								 -  <%= user.link_to_edit %> - <%= user.link_to_delete %>
							<% else %>
								<% if user.id == session[:user_id] %>
								 - <%= user.link_to_edit %>
								<% end %>
							<% end %>		 	
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>