<% provide(:title, 'Search') %>
<% provide(:heading, 'Recent Blog') %>
<% provide(:subheading, 'A Clean Blog Theme by Start Bootstrap') %>
<% provide(:bg, 'home-bg.jpg') %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="col-md-offset-8">
                <%= form_tag(recent_blog_path, method: "get", id: "search-form", enforce_utf8: false) do %>
                    <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: "Search Blog Posts", required: true %>
                <% end %>
            </div>

            <% if @blog_posts.blank? %>
              <hr>
              <h4 class="text-center">There are no articles containing the term '<%= params[:q] %>'.</h4>
              <hr>
            <% else %>
              <hr>
              <h4 class="text-center">There are <%= @blog_posts.count %> articles containing the term '<%= params[:q] %>'.</h4>
              <hr>
            <% end %>

            <% @blog_posts.reverse_each do |blog_post| %>
                <div class="post-preview">
                    <%= blog_post.link_to_show %>
                    <p class="post-meta">Posted by <%= blog_post.link_to_user %> on <%= blog_post.created_at %></p>
                </div>
                <hr>
            <% end %>
        </div>
    </div>
</div>